@page "/login"
@using BlazorApp.Data
@inject LoginService MyLogin
@inject SqliteService db
@inject NavigationManager NavigationManager


@if (@status==1) 
{
    <p>Welcome @member.Name</p>
    //<button @onclick="logout">Logout </button> //delete
}
else{
    <p>Welcome, please login</p>
    <label for="fname">Username:</label>
    <input type="text" @bind="@username" id="username" name="username"><br><br>
    <label for="lname">Password:</label>
    <input type="password" @bind="@password" id="password" name="password"><br><br>
    <p> @message</p>
    <button class="btn btn-primary" @onclick="login">Login</button>
}



@code {
    private string username;
    private string password;

    private string message;

    private int status { get; set; } = 0; //1 means login; 0 means not login 
    
    private MemberData member; 

    async Task login() //Task is a built in class, to perform asynchronous operations
    {
        @* status = "login successful!!!"; *@ 
        //MyLogin.setlogin(1); //delete
        
        if(await MyLogin.LoginVerify(this.username, this.password)){
            status= MyLogin.getlogin();
            member=MyLogin.getLoggedinUserInfo();
            //NavigationManager.NavigateTo("/"); //navigate back to home
        }else{
            message = "Username or password is incorrect";
        }
       
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    db.connectDB();
    //    db.createTable();
    //    db.createNewMember("Kim", "cityu"); //fix
    //    this.status = await MyLogin.GetLoginAsync();        
    //}



}